#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.table-container,
.search-container {
  max-width: 800px;
  width: 80%;
}

table {
  border-collapse: collapse;
  margin: auto;
}

.table-head {
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  border-bottom: 3px solid #6f6f6f;
  background-color: #2ca8a883;
}

td {
  padding: .1rem .5rem;
}

.table-body tr {
  border-bottom: 1px solid #e8e7e7;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: .5rem .5rem;
  background-color: #dbdbdb;
}

.search-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1.5rem;
}

.search-container .search {
  background-color: inherit;
  width: 80%;
  line-height: 100%;
  height: 100%;
  font-size: 100%;
  margin-left: .2rem;
  border: none;
  outline: none;
}

.checkbox label{
  justify-content: center;
  gap: 1rem;
}